<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" strict="true">
	<Appenders>
		<Appender type="Console" name="STDOUT">
			<Layout type="PatternLayout" pattern="%d %-5level [%t] %c{1.} - %m%n" />
		</Appender>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>